@keyframes wiggle {
	from {
		transform: translate(20%, -20%) rotate(-10deg);
	}
	to {
		transform: translate(20%, -20%) rotate(10deg);
	}
}

.GameCard {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
	width: 100%;
	// overflow: hidden;
	background-color: #111;
	text-align: center;
	flex-direction: column;
	position: relative;

	display: flex;

	* {
		user-select: none;
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	.MainGameInfo {
		position: relative;

		&:active {
			filter: brightness(50%);
		}

		.Banner {
			display: flex;
			flex-direction: row;
			text-align: center;
			height: 120px;
			.GameImage {
				position: relative;
				width: 40%;
			}

			.TitleAndDev {
				width: 100%;
				display: flex;
				flex-direction: column;
				.GameName {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					font-family: 'TS Block Bold';
					font-weight: normal;
					color: white;
					width: 100%;
					font-size: 40px;
					margin: 0;
					flex: 1;
				}

				.GameDeveloper {
					font-weight: normal;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					font-family: 'TS Block Bold';
					margin: 0;
					flex: 1;
					font-size: 20px;
				}
			}
		}

		.ImageContainer {
			width: 20%;
			overflow: hidden;
			position: relative;
		}

		.Info {
			display: flex;
			flex-direction: column;
			text-align: center;
			flex: 1;

			.GameDescription {
				margin: 1em;
			}
		}

		.GameHoverContent {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: opacity 0.05s linear;

			.VoteForGame {
				cursor: pointer;
				width: 100%;
				height: 100%;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				.Text {
					font-family: 'TS Block Bold';
					font-size: 50px;
				}
			}

			.PackDisclaimer {
				cursor: not-allowed;
				width: 100%;
				height: 100%;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				.Text {
					font-family: 'TS Block Bold';
					font-size: 50px;
				}
			}
		}

		&:not(:hover) {
			.GameHoverContent {
				opacity: 0;
			}
		}
	}

	.SubGames {
		.SubGame {
			width: 50%;
			float: left;
			box-sizing: border-box;
			position: relative;
			display: flex;
			height: 90px;

			&:active {
				filter: brightness(50%);
			}

			.Image {
				width: 40%;
				overflow: hidden;
				position: relative;
			}

			.Info {
				overflow: hidden;
				flex: 1;
				padding: 2px 5px;

				.SubGameDescription {
					width: 100%;
					height: 100%;
					font-size: 16px;
					margin: 0;
					overflow: hidden;
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}

			.SubGameHoverContent {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.7);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				transition: opacity 0.05s linear;

				.VoteForGame {
					cursor: pointer;
					width: 100%;
					height: 100%;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					.Text {
						font-family: 'TS Block Bold';
						font-size: 30px;
					}
				}
			}

			&:not(:hover) {
				.SubGameHoverContent {
					opacity: 0;
				}
			}
		}
	}

	.NewStarburst {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		transform: translate(20%, -20%) rotate(0deg);
		background-color: #ff0048;
		z-index: 999;
		animation: wiggle 3s ease-in-out infinite alternate;

		.StarburstText {
			font-family: 'TS Block Bold';
			font-size: 30px;
			font-weight: bold;
		}
	}
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	.GameCard {
		.Banner {
			display: block !important;
			height: auto !important;
			.GameImage {
				position: relative;
				width: 100% !important;
				height: 44vw !important;
			}
		}
	}
	.SubGames {
		.SubGame {
			width: 100% !important;
			flex-direction: column;
			height: auto !important;
			.Image {
				width: 100% !important;
				height: 44vw !important;
				overflow: visible !important;
				position: relative;
				img {
					position: absolute !important;
					width: 100% !important;
					height: 100% !important;
					transform: unset !important;
					top: 0 !important;
					left: 0 !important;
				}
			}

			.Info {
				padding-top: 1em;
				display: block !important;
				overflow: unset !important;

				.SubGameDescription {
					margin-top: 1em !important;
					margin-bottom: 1em !important;
				}
			}

			.SubGameHoverContent {
				display: none !important;
			}
		}
	}
}
