.Content {
  position: absolute;
  margin: auto;
  width: 1000px;
  min-height: 100vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  background-color: #111;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  .Header {
    max-width: 100%;
  }
}

.GameList {
  list-style: none;

  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
