@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.Content {
	position: absolute;
	margin: auto;
	width: 1000px;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 10px;
	padding-bottom: 0;
	background-color: transparent;
	z-index: 999;
	left: 50%;
	transform: translateX(-50%);

	.Header {
		font-family: 'Another Danger';
		font-weight: normal;
		background: linear-gradient(90deg, #ff0048, #00f2ff);
		transform: rotate(-3deg);
		margin-top: 30px;
		margin-bottom: 30px;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 120px;
		filter: drop-shadow(5px 5px #41023c);
		animation: rainbow 18s ease infinite;
	}

	.VoteSection {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-top: 80px;
		margin-bottom: 50px;
		height: 220px;

		> div {
			flex: 1;
		}

		.Spacer {
			flex: 0 0 20px;
		}
	}

	.VoteExpiration {
		font-size: 30px;
		font-family: 'TS Block Bold';

		> p {
			margin-bottom: 0.5em;
		}

		button {
			border: 0;
			background-color: white;
			color: black;
			padding: 5px 10px;
			font-size: 25px;
			font-family: 'TS Block Bold';
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: #ccc;
			}

			&:active {
				background-color: #aaa;
			}
		}
	}

	.AvailableGames {
		margin-top: 0.5em;
		font-family: 'TS Block Bold';
		font-size: 70px;
		font-weight: normal;
	}

	.Footer {
		opacity: 0.5;
		display: flex;
		flex-direction: row;
		padding: 1em;
		span {
			flex: 1;
			font-size: 20px;

			.FooterLogo {
				height: 25px;
				vertical-align: middle;
				&.Invert {
					filter: invert(100%);
				}
			}
		}
	}
}

.GameList {
	list-style: none;

	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	.Content {
		width: 100%;
		overflow: hidden;

		.Header {
			margin-top: 10px;
			margin-bottom: 30px;
			font-size: 11vw;
		}

		.VoteSection {
			display: block;
			margin-top: 20px !important;
			height: auto !important;

			> div {
				width: 100% !important;
				height: 200px !important;
				box-sizing: border-box;

				&:not(:last-child) {
					margin-bottom: 50px;
				}
			}

			.Spacer {
				display: none;
			}
		}

		.Footer {
			span {
				font-size: 10px;
				.FooterLogo {
					height: 12px;
				}
			}
		}
	}
}
