@import '@fontsource/source-sans-pro';
@import '@fontsource/open-sans-condensed';
@import '@fontsource/open-sans';

body,
html {
	background-color: #050505;
	font-family: 'Source Sans Pro';
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}
